{% extends "base.html" %}
{% load static %}
{% load get_url %}

{% block content %}
<script type="text/javascript">
    function form_custom_date_url() {
        const form1 = document.querySelector("#myform"); 
        //var date_from = form1.elements.date_from.value;
        //var date_to = form1.elements.date_to.value;
        var date_created = form1.elements.date.value;
        if (date_created == ''){
            alert('Choose Date')
            return false
        }
        var url = new URL(window.location);
        //url.searchParams.set('date_from', date_from);
        //url.searchParams.set('date_to', date_to);
        url.searchParams.set('date_created',date_created);
        location.replace(url);      
    }

    function form_today_url(){
        let currentDate = new Date().toJSON().slice(0,10);
        var url = new URL(window.location);
        url.searchParams.set('date_created',currentDate);
        location.replace(url); 
    }

    function form_camera_url(id){
        var url = new URL(window.location);
        url.searchParams.set('camera_id',id);
        location.replace(url);
    }
</script>

{% if page_obj %}
<table class="ui celled structured table">
    <thead>
      <tr>
        <th rowspan="2">Date recorded</th>        
        {% for name, capitalized_name in det_fields %}
            <th rowspan="2">{{ capitalized_name }}</th>
        {% endfor %}
        <th rowspan="2">Camera name</th>
      </tr>
    </thead>
    <tbody>
        {% for video in page_obj %}
        <tr>
            <td><a href="{% url 'video-detail' video.pk %}">{{ video.date_created }}</a></td>
            {% for field, value in video.get_fields %}
                {% if value %}
                    <td class="center aligned">
                        <i class="large green checkmark icon"></i>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
            <td>{{ video.camera_id }}</td>            
        </tr>
        {% endfor %} 
    </tbody>      
</table>
{% else %}
<h1 class="ui center aligned header">No videos found</h1>
{% endif %}

{% if page_obj %}
<div class="ui pagination menu">
    {% if page_obj.has_previous %}
    <a class="item" href="?page=1">
        <button class="ui secondary basic button">            
            first: 1
        </button>
    </a>
    <a class="item" href="?page={{ page_obj.previous_page_number }}">
        <button class="ui secondary basic button">            
            previous
        </button>
    </a>
    {% endif %}
    <a class="active item" href="?page={{ current_page }}">
        <button class="ui secondary basic button">            
            {{ current_page }}
        </button>
    </a>
    {% if page_obj.has_next %}
    <a class="item" href="?page={{ page_obj.next_page_number }}">
        <button class="ui secondary basic button">            
            next
        </button>
    </a>
    <a class="item" href="?page={{ page_obj.paginator.num_pages }}">
        <button class="ui secondary basic button">            
            last: {{ page_obj.paginator.num_pages }}
        </button>
    </a>
    {% endif %}
</div>
{% endif %}

{% endblock %}


{% block filter %}

<a href="{% url 'archive' %}">
    <button class="ui fluid button">
        Reset filter
    </button>
</a>

<h2 class="ui center aligned header">Filter by Date:</h2>

<a id="link" href="#" onclick="form_today_url();">
    <button class="ui fluid button">            
        Today
    </button>
</a>

<h2 class="ui center aligned header">Or</h2>

<form id="myform">
    <div class="ui center aligned container">
        <input type="date" name="date" required="">
    </div>
</form>
    <a id="link" href="#" onclick="form_custom_date_url();">
        <button class="ui fluid button">            
            Search date
        </button>
    </a>  

<h2 class="ui center aligned header">Filter by detected object:</h2>

<div class="ui fluid vertical buttons">
    {% for name, capitalized_name in det_fields %}
    <a href="{{ full_url|get_url:name }}">
        {% if name in params %}
            <button class="ui active button">
                {{ capitalized_name }} 
            </button>
        {% else %}
            <button class="ui button">            
                {{ capitalized_name }}
            </button>
        {% endif %} 
        </a>
    {% endfor %}
</div>

<h2 class="ui center aligned header">Filter by camera:</h2>
<div class="ui fluid vertical buttons">
    {% for camera in cameras %}        
        <a id="{{ camera.camera_name }}" href="#" onclick="form_camera_url(this.id);">
            {% if params.camera_id == camera.camera_name %}
                <button class="ui active button">            
                    {{ camera.camera_name }}
                </button>
            {% else %}
                <button class="ui button">            
                    {{ camera.camera_name }}
                </button>
            {% endif %} 
        </a>
    {% endfor %}   
</div>
{% endblock %}