{% extends "base.html" %}

{% block content %}   

<div class="ui grid">
    {% for camera in camera_list %}
    <div class="four wide column">
        <div class="ui big image">
            <img id="{{ camera.camera_name }}img" src="" width="480" height="360">
        </div>
        <div class="ui center aligned container">
            <button id="{{ camera.camera_name }}play" class="ui labeled icon button">
                <i class="play icon"></i>
                Play
            </button>
            <button id="{{ camera.camera_name }}pause" class="ui labeled icon button">
                <i class="pause icon"></i>
                Pause
            </button>
        </div>
    </div>   
    {% endfor %}
</div>

<script>
    var camera_list = JSON.parse('{{ cam_list|safe }}');

    for (camera of camera_list) {
        createScoket(camera)
    }     

    async function createScoket(camera) {
        const img = document.getElementById(camera+"img"); 
        const videoSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/stream/'
        + camera
        + '/'
        );

        videoSocket.onopen = async function(event) {
            console.log(videoSocket)
        };

        videoSocket.onmessage = async function(event) {
            frameUpdate = event.data;
            img.src = "data:image/jpeg;base64," + frameUpdate;
        };

        videoSocket.onclose = async function(event) {
            videoSocket.close()
            console.error('Chat socket closed unexpectedly');
        };

        document.getElementById(camera+"play").onclick = async function(e) {
            videoSocket.send(JSON.stringify({'signal': 'play'}));
        };

        document.getElementById(camera+"pause").onclick = async function(e) {
            videoSocket.send(JSON.stringify({'signal': 'pause'}));
        };
    }        
</script>
{% endblock %}