{% extends "base.html" %}



{% block content %}
<div style="margin-top: 100px" class="ui left aligned container">
  <form method="post">  
  {% csrf_token %}        
    {% if form.email.errors %} 
      <div class="ui big form segment error"> 
        <div class="field error">
          <label>Enter Email:</label>
            {{ form.email }}
        </div>
        <div class="ui error message">
            {{ form.email.errors }}
        </div> 
      </div>                   
    {% else %} 
      <div class="ui big form segment">                    
        <div class="field">
            <label>Enter Email:</label>
            {{ form.email }}
        </div>
      </div>
    {% endif %}               
    <button class="ui blue big button">Reset password</button> 
  </form>
</div>
{% endblock %}

